.students-table {
    margin-bottom: 20px;
  
    table {
      width: 100%;
      border-collapse: collapse;
      border-radius: 4px;
  
      th {
        padding: 10px;
        text-align: left;
        font-weight: bold;
        border-bottom: 1px solid #ccc;
      }
  
      td {
        padding: 10px;
        border-bottom: 1px solid #ccc;
      }

    }
  
    .buttons {
      display: flex;
      justify-content: flex-end;
    }

    #content { 
      width: auto;
      margin: 0 auto;
  }

  #dropDown    {
      float: left;
  }
  
  #button  {
      height: 25px;
      margin-left: 200px;
  }
    
  }

  .students-for-team-title {
    font-family: WorkSans;
    text-align: center;
    color: #534576;
  }
  
  .btn-cancel {
    background-color: #74649e;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    border: 1px solid #aaaaaa;
    border-radius: 16px;
    padding: 8px 35px;

    &:hover {
      background-color: #534576;
      color:  #929292;
    }
    font-family: WorkSans;
  }

  .custom-label {
    font-family: WorkSans;
  }

  .button-right{
    font-family: WorkSans;
  }

  .custom-table{
    font-family: WorkSans;
  color: #072F49;

  }
  
