  .add-student-title {
    font-family: WorkSans;
    text-align: center;
    color: #534576;
  }
  

  .btn-save {
    background-color: #74649e;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    border: 1px solid #aaaaaa;
    border-radius: 16px;
    padding: 8px 35px;
    font-family: WorkSans;

    &:hover {
      background-color: #534576;
      color:  #929292;
    }
  }

  .btn-cancel {
    background-color: #74649e;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    border: 1px solid #aaaaaa;
    border-radius: 16px;
    padding: 8px 35px;

    &:hover {
      background-color: #534576;
      color:  #929292;
    }
    font-family: WorkSans;
  }

.contact-form {
  padding: 20px;
}

.contact-form input {
  font-family: WorkSans;
  color: #072F49;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  font-family: WorkSans;
}

.mat-form-field {
  margin-bottom: 16px;
}

.mat-dialog-actions {
  padding: 12px;
  display: flex;
  justify-content: space-between;
}

.mat-dialog-actions button {
  margin: 0;
}
