:host {
    display: block;
    background-color: transparent;
  }
  
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
  
    .form-field {
      width: 100%;
      margin-bottom: 24px;
  
      label {
        display: block;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 8px;
      }
  
      input {
        width: 100%;
        padding: 8px;
        border: none;
        border-bottom: 2px solid #ccc;
        font-size: 16px;
        font-weight: 500;
        color: #333;
        transition: border-color 0.3s ease-in-out;
  
        &:focus {
          outline: none;
          border-color: #2196f3;
        }
      }
  
      .error {
        color: red;
        font-size: 14px;
        font-weight: 500;
        margin-top: 4px;
      }
    }
  
    .buttons {
      display: flex;
      justify-content: flex-end;
      margin-top: 24px;
  
      button {
        margin-left: 16px;
      }
    }
  }

.activity-title{
  font-family: WorkSans;
  text-align: center;
  color: #534576;
}


.btn-save {
  background-color: #74649e;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  border: 1px solid #aaaaaa;
  border-radius: 16px;
  padding: 8px 35px;
  font-family: WorkSans;

  &:hover {
    background-color: #534576;
    color:  #929292;
  }
}

.btn-cancel {
  background-color: #74649e;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  border: 1px solid #aaaaaa;
  border-radius: 16px;
  padding: 8px 35px;

  &:hover {
    background-color: #534576;
    color:  #929292;
  }
  font-family: WorkSans;
}

.vertical-form input {
  font-family: WorkSans;
  color: #072F49;
}