
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, rgba(199, 197, 244, 0.8), rgba(119, 107, 204, 0.8), rgba(93, 84, 164, 0.8));
}

.login-screen {
  position: relative;
  width: 360px;
  background: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.login-box {
  .login-title {
    color: #5D54A4;
    text-align: center;
    margin-bottom: 2rem;
  }

  .login-form {
    .form-field {
      position: relative;
      margin-bottom: 1rem;

      .form-input {
        width: 100%; 
        max-width: 280px;
        padding: 0.75rem 1.5rem 0.75rem 3.5rem;
        border-radius: 20px;
        border: 1px solid #D1D1D4;
        font-size: 1rem;

        &:focus {
          outline: none;
          border-color: #6A679E;
        }
      }

      .field-icon {
        position: absolute;
        top: 50%;
        left: 15px;
        transform: translateY(-50%);
        color: #5D54A4;
      }
    }

    .submit-button {
      width: 100%;
      padding: 0.75rem;
      background: #5D54A4;
      color: white;
      border: none;
      border-radius: 20px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      font-size: 1rem;
      transition: background 0.3s;

      &:hover {
        background: #504C73;
      }

      .button-icon {
        margin-left: 0.5rem;
      }
    }
  }
}
