



.sidebar {
    position: fixed;

    bottom: 0;
    left: 0;

    overflow-x: hidden;
    overflow-y: auto;

    width: 150px;
    height: 100vh;
    background-color: #FAF2FF;
    padding: 20px;
    display: flex;
    flex-direction: column;
  
  }
  
  .logo {
    margin-bottom: 20px;
  }
  
  .logo img {
    width: 100%;
    max-width: 150px;
  }
  
  .navigation ul {
    padding: 0;
    list-style: none;
  }
  
  .navigation li {
    margin-bottom: 10px;
  }
  
  .navigation a {
    text-decoration: none;
    color: #e05ad9;
    display: block;
    padding: 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 20px;
  }
  
  .navigation a:hover {
    background-color: #e4b7ea;
  }