
.sidebar {
    position: fixed;
    bottom: 0;
    left: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100vh;
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    z-index: 50;
    border-radius: 24px 24px 24px 24px;
    box-shadow: 11px 10px 24px 4px rgba(0,0,0,0.55);
    grid-row: 2;
    grid-column: 1;
    width: 200px; 
    height: calc(100% - 60px);
    top: 10px; 


  }
  
  .logo {
    margin-bottom: 20px;
  }
  
  .logo img {
    width: 80%;
    padding-left: 18px;
    padding-top: 30px;
  }
  
  .navigation ul {
    padding: 0;
    list-style: none;
  }
  
  .navigation li {
    margin-bottom: 10px;
  }
  
  .navigation a {
    text-decoration: none;
    color: #7b1fa2;
    display: block;
    padding: 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 20px;
  }
  
  .navigation a:hover {
    background-color: #e6d2ee;
  }