.container {
    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
      margin-bottom: 20px;
      background-color: #fff;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
      th {
        background-color: #f8f8f8;
        text-align: left;
        padding: 8px;
        font-weight: bold;
        font-size: 14px;
        color: #444;
        border-bottom: 1px solid #ccc;
      }
      td {
        border-bottom: 1px solid #ccc;
        padding: 8px;
        font-size: 14px;
        color: #333;
        &:first-child {
          border-left: 1px solid #ccc;
        }
        .checkbox-wrapper-39 {
          * {
            box-sizing: border-box;
          }
          label {
            display: block;
            width: 25px;
            height: 25px;
            cursor: pointer;
          }
          input {
            visibility: hidden;
            display: none;
          }
          input:checked ~ .checkbox {
            transform: rotate(45deg);
            width: 14px;
            margin-left: 12px;
            border-color: #24c78e;
            border-top-color: transparent;
            border-left-color: transparent;
            border-radius: 0;
          }
          .checkbox {
            display: block;
            width: inherit;
            height: inherit;
            border: 3px solid #434343;
            border-radius: 6px;
            transition: all 0.375s;
          }
        }
      }
      tr:nth-child(even) {
        background-color: #f2f2f2;
      }
    }
    
  }

  .container ::ng-deep .mat-paginator {
    background-color: white;
    color: black;
  }
  
  .container ::ng-deep .mat-paginator-page-size,
  .container ::ng-deep .mat-paginator-range-label {
    color: black;
  }
  
  .container ::ng-deep .mat-paginator-navigation-previous,
  .container ::ng-deep .mat-paginator-navigation-next {
    color: black;
  }
  
  .container ::ng-deep .mat-paginator-page-size-options {
    color: black;
  }
  