<div class="container">
  <div class="button-left">
    <button mat-raised-button color="primary" (click)="openAddActivityDialog()" *ngIf="role === 'mentor'">Add Activity</button>
  </div>
  <div class="card-container">
    <ng-container *ngFor="let activity of activities">
      <div class="card" (click)="(role === 'teamlead' || role === 'student') ? openStudentList(activity) : null">
        <div class="name">{{ activity.activityName }}</div>
        <div class="date">{{ activity.activityDate | date }}</div>
        <div class="action" *ngIf="role === 'mentor'">
          <button mat-icon-button color="primary" (click)="openStudentList(activity); $event.stopPropagation()">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteActivity(activity); $event.stopPropagation()">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </ng-container>
  </div>
</div>
<app-student-list *ngIf="displayStudentList" [activityId]="activityId" [role]="role"></app-student-list>
