<h2 mat-dialog-title>Edit Grade</h2>
<div mat-dialog-content [formGroup]="form">
  <div class="form-group">
    <div class="grade-box">
      <mat-label for="grade">Grade:</mat-label>
      <mat-select id="grade" formControlName="selectedGrade">
        <mat-option value="1">1</mat-option>
        <mat-option value="2">2</mat-option>
        <mat-option value="3">3</mat-option>
        <mat-option value="4">4</mat-option>
        <mat-option value="5">5</mat-option>
        <mat-option value="6">6</mat-option>
        <mat-option value="7">7</mat-option>
        <mat-option value="8">8</mat-option>
        <mat-option value="9">9</mat-option>
        <mat-option value="10">10</mat-option>
      </mat-select>
    </div>
  </div>
  <div class="form-group">
    <mat-form-field>
      <textarea matInput placeholder="Comment" formControlName="comment"></textarea>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-button color="primary" (click)="saveGrade()">Save</button>
</div>
